---
layout: reference
permalink: /about/
title: About
---

  {% include head.html %}


  {% include header.html %}

	<div id="main">
					<div class="container">

						<div class="row 200%">

							<!-- Content -->
								<div id="content" class="12u 12u(mobile) important(mobile)">
								
<p>Here will be the about page, where I talk about how the site actually works, and talk about who helped me (Professor McCaughey, Class of 1939, etc.)</p>

</div>
</div>
</div>
</div>

  {% include footer.html %}
