	<div id="footer">
					<div class="container">
					
						<!-- Social -->
							<section>
								<ul class="icons">
										<li><a href="/about/" class="icon fa-question-circle-o"><span class="label">About</span></a></li>
										<li><a href="https://twitter.com/neptunesneedle" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.facebook.com/neptunesneedle/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="https://github.com/neptunesneedle/" class="icon fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="mailto:ahoy@frigat.es" class="icon fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>

						<!-- Copyright -->
							<div class="copyright">
								Neptune's Needle: Database of Maritime History
							</div>

					</div>
	</div>