
<div class="container" style="text-align:center;">
	<a href="/search/all/" class="buttonsubonthatpage">All</a>
	<a href="/search/people/" class="buttonsub">People</a>
	<a href="/search/ships/" class="buttonsub">Ships</a>
	<a href="/search/events/" class="buttonsub">Events</a>
	<a href="/search/locations/" class="buttonsub" >Locations</a>
	<a href="/search/documents/" class="buttonsub" >Documents</a>
	<a href="/search/mapscharts/" class="buttonsub">Maps & Charts</a>
	<a href="/search/marinelife/" class="buttonsub">Marine Life</a>
</div>



<div id="entry-list">


<div class="searchbox">
		<input type="text" class="search form-control" placeholder="Search All..." />
</div>

<div style="overflow-x:auto;">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:30%;"><span class="sort" data-sort="title">Name</span></th>
			<th style="width:30%;"><span class="sort" data-sort="title">Category</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for page in site.pages %}
		{% if page.layout == 'people' %}
		<tr>
			<td class="title"><a href="/people/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="category">People</td>
		</tr>
		{% endif %}
		{% if page.layout == 'ships' %}
		<tr>
			<td class="title"><a href="/ships/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="category">Ships</td>
		</tr>
		{% endif %}
		{% if page.layout == 'events' %}
		<tr>
			<td class="title"><a href="/events/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="category">Events</td>
		</tr>
		{% endif %}
		{% if page.layout == 'locations' %}
		<tr>
			<td class="title"><a href="/locations/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="category">Locations</td>
		</tr>
		{% endif %}
		{% if page.layout == 'documents' %}
		<tr>
			<td class="title"><a href="/documents/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="category">Documents</td>
		</tr>
		{% endif %}
		{% if page.layout == 'mapscharts' %}
		<tr>
			<td class="title"><a href="/mapscharts/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="category">Maps & Charts</td>
		</tr>
		{% endif %}
		{% if page.layout == 'marinelife' %}
		<tr>
			<td class="title"><a href="/marinelife/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="category">Marine Life</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
</div>




</div>

<script type="text/javascript">

var options = {
  valueNames: ['title', 'region', 'occupation', 'birthyear', 'deathyear']
};

var entryList = new List('entry-list', options);

</script>