<div class="container" style="text-align:center;">
	<a href="/search/all/" class="buttonsub">All</a>
	<a href="/search/people/" class="buttonsub">People</a>
	<a href="/search/ships/" class="buttonsub">Ships</a>
	<a href="/search/events/" class="buttonsub">Events</a>
	<a href="/search/locations/" class="buttonsubonthatpage" >Locations</a>
	<a href="/search/documents/" class="buttonsub" >Documents</a>
	<a href="/search/mapscharts/" class="buttonsub">Maps & Charts</a>
	<a href="/search/marinelife/" class="buttonsub">Marine Life</a>
</div>



<div id="entry-list">


<div class="searchbox">
		<input type="text" class="search form-control" placeholder="Search Locations..." />
</div>

<div style="overflow-x:auto;">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:30%;"><span class="sort" data-sort="title">Name</span></th>
			<th style="width:30%;"><span class="sort" data-sort="title">Region</span></th>
			<th style="width:30%;"><span class="sort" data-sort="title">Type</span></th>
			<th style="width:30%;"><span class="sort" data-sort="title">Latitude</span></th>
			<th style="width:30%;"><span class="sort" data-sort="title">Longitude</span></th>
			
		</tr>
	</thead>
	<tbody class="list">
	{% for page in site.pages %}
		{% if page.layout == 'locations' %}
		<tr>
			<td class="title"><a href="/locations/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="region">{{ page.region }}</td>
			<td class="type">{{ page.type }}</td>
			<td class="latitude">{{ page.latitude }}</td>
			<td class="longitude">{{ page.longitude }}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
</div>




</div>

<script type="text/javascript">

var options = {
  valueNames: ['title', 'region', 'type', 'latitude', 'longitude']
};

var entryList = new List('entry-list', options);

</script>