<div class="container" style="text-align:center;">
	<a href="/search/all/" class="buttonsub">All</a>
	<a href="/search/people/" class="buttonsub">People</a>
	<a href="/search/ships/" class="buttonsub">Ships</a>
	<a href="/search/events/" class="buttonsubonthatpage">Events</a>
	<a href="/search/locations/" class="buttonsub" >Locations</a>
	<a href="/search/documents/" class="buttonsub" >Documents</a>
	<a href="/search/mapscharts/" class="buttonsub">Maps & Charts</a>
</div>



<div id="entry-list">


<div class="searchbox">
		<input type="text" class="search form-control" placeholder="Search Events..." />
</div>

<div style="overflow-x:auto;">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:30%;"><span class="sort" data-sort="title">Name</span></th>
			<th style="width:30%;"><span class="sort" data-sort="title">Region</span></th>
			<th style="width:30%;"><span class="sort" data-sort="title">Date</span></th>			
		</tr>
	</thead>
	<tbody class="list">
	{% for page in site.pages %}
		{% if page.layout == 'events' %}
		<tr>
			<td class="title"><a href="/events/{{ page.title | remove: ' ' | strip_newlines | downcase | md5 }}/">{{ page.title }}</a></td>
			<td class="region">{{ page.region }}</td>
			<td class="date">{{ page.date }}</td>
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
</div>




</div>

<script type="text/javascript">

var options = {
  valueNames: ['title', 'region', 'date']
};

var entryList = new List('entry-list', options);

</script>