<!DOCTYPE html>
<html>

<head>

  {% include head.html %}
  
  </head>
 
	<body class="left-sidebar">
		<div id="page-wrapper">
 
  {% include header.html %}
			
			<div id="main">
					<div class="container">

						<div class="row 200%">

							<!-- Content -->
								<div id="content" class="12u 12u(mobile) important(mobile)">
									<article>
										<header>
											<h2>{{page.title}}</h2>
										</header>
										</br>
										
										<table style="width:100%">
										  <tr>
											<th>Species</th>
											<th>Region</th>
											<th>Water Type</th> 
										  </tr>
										  <tr>
											<td>{{page.species}}</td>
											<td>{{page.region}}</td>
											<td>{{page.watertype}}</td> 
										  </tr>
										</table>
										</br>
										
										<p>{{page.p1}}</p>
										<p>{{page.p2}}</p>
										<p>{{page.p3}}</p>
										<p>{{page.p4}}</p>
										<p>{{page.p5}}</p>
										<p>{{page.p6}}</p>
										<p>{{page.p7}}</p>
										<p>{{page.p8}}</p>
										<p>{{page.p9}}</p>
										<p>{{page.p10}}</p>
										<p>{{page.p11}}</p>
										<p>{{page.p12}}</p>
										<p>{{page.p13}}</p>
										<p>{{page.p14}}</p>
										<p>{{page.p15}}</p>
										<p>{{page.p16}}</p>
										<p>{{page.p17}}</p>
										<p>{{page.p18}}</p>
										<p>{{page.p19}}</p>
										<p>{{page.p20}}</p>
										<p>{{page.p21}}</p>
										<p>{{page.p22}}</p>
										<p>{{page.p23}}</p>
										<p>{{page.p24}}</p>
										<p>{{page.p25}}</p>
										<p>{{page.p26}}</p>
										<p>{{page.p27}}</p>
										<p>{{page.p28}}</p>
										<p>{{page.p29}}</p>
										<p>{{page.p30}}</p>

										{% if page.source == null %}
										  <p></p>
										{% else %}
										  {% for page in page.source %}
											  <h2>Sources</h2>
											  {{page}}</br>
										  {% endfor %}
										  {% for page in page.source2 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source3 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source4 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source5 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source6 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source7 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source8 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source9 %}
											  {{page}} </br>
										  {% endfor %}
										  {% for page in page.source10 %}
											  {{page}} </br>
										  {% endfor %}
										{% endif %}
										
										{% if page.hyperlinksource == null %}
										  <p></p>
										{% else %}
										  {% for page in page.hyperlinksource %}
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource2 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource3 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource4 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource5 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource6 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource7 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource8 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource9 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.hyperlinksource10 %}
												<br>
										      <a href="{{ page }}">{{page}}</a>
										  {% endfor %}
										{% endif %}
										
										
										{% if page.imagessource == null %}
										  <p></p>
										{% else %}
										
										  {% for page in page.title %}
											  <h2>Images</h2>
										      <img src="/images/entries/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}.jpg" alt="{{page}}">
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource == null %}
										<p></p>
										{% else %}
										
										  {% for page in page.imagessource %}
										      <p>Public Domain <a href="{{page}}">Source</a>
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource2 == null %}
										  <p></p>
										{% else %}
										
										  {% for page in page.title %}
										      <h2><img src="/images/entries/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}.jpg" alt="{{page}}"></h2>
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource2 == null %}
										<p></p>
										{% else %}
										
										  {% for page in page.imagessource2 %}
										      <p>Public Domain <a href="{{page}}">Source</a>
										  {% endfor %}									
										  
										{% endif %}
										{% if page.imagessource3 == null %}
										  <p></p>
										{% else %}
										
										  {% for page in page.title %}
										      <h2><img src="/images/entries/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}.jpg" alt="{{page}}"></h2>
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource3 == null %}
										<p></p>
										{% else %}
										
										  {% for page in page.imagessource3 %}
										      <p>Public Domain <a href="{{page}}">Source</a>
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource4 == null %}
										  <p></p>
										{% else %}
										
										  {% for page in page.title %}
										      <h2><img src="/images/entries/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}.jpg" alt="{{page}}"></h2>
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource4 == null %}
										<p></p>
										{% else %}
										
										  {% for page in page.imagessource4 %}
										      <p>Public Domain <a href="{{page}}">Source</a>
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource5 == null %}
										  <p></p>
										{% else %}
										
										  {% for page in page.title %}
										      <h2><img src="/images/entries/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}.jpg" alt="{{page}}"></h2>
										  {% endfor %}									
										  
										{% endif %}
										
										{% if page.imagessource5 == null %}
										<p></p>
										{% else %}
										
										  {% for page in page.imagessource5 %}
										      <p>Public Domain <a href="{{page}}">Source</a>
										  {% endfor %}									
										  
										{% endif %}
				
				
				
				
										{% if page.relatedperson == null %}
										  <p></p>
										{% else %}
										  {% for page in page.relatedperson %}
											  <h2>Related People</h2>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson2 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson3 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson4 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson5 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson6 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson7 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson8 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson9 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedperson10 %}
												<br>
										      <a href="http://neptunesneedle.org/people/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										{% endif %}
												


												
										{% if page.relatedships == null %}
										  <p></p>
										{% else %}
										  {% for page in page.relatedships %}
											  <h2>Related marinelife</h2>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships2 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships3 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships4 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships5 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships6 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships7 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships8 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships9 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedships10 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										{% endif %}
								
										
										
										{% if page.relatedevents == null %}
										  <p></p>
										{% else %}
										  {% for page in page.relatedevents %}
											  <h2>Related Events</h2>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedevents2 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedevents3 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedevents4 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedevents5 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedevents6 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedevents7 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedevents8 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %} 
										  {% for page in page.relatedevents9 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedevents10 %}
												<br>
										      <a href="http://neptunesneedle.org/events/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										  {% endif %}
										
										
										
										{% if page.relatedlocations == null %}
										  <p></p>
										{% else %}
										  {% for page in page.relatedlocations %}
											  <h2>Related Locations</h2>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedlocations2 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedlocations3 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedlocations4 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedlocations5 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedlocations6 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedlocations7 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedlocations8 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %} 
										  {% for page in page.relatedlocations9 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedlocations10 %}
												<br>
										      <a href="http://neptunesneedle.org/locations/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										  {% endif %}
											
											
										{% if page.relateddocuments == null %}
										  <p></p>
										{% else %}
										  {% for page in page.relateddocuments %}
											  <h2>Related Documents</h2>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relateddocuments2 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relateddocuments3 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relateddocuments4 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relateddocuments5 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relateddocuments6 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relateddocuments7 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relateddocuments8 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %} 
										  {% for page in page.relateddocuments9 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relateddocuments10 %}
												<br>
										      <a href="http://neptunesneedle.org/documents/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										  {% endif %}
										  
										  
										  
										  
										  {% if page.relatedmapscharts == null %}
										  <p></p>
										{% else %}
										  {% for page in page.relatedmapscharts %}
											  <h2>Related Maps & Charts</h2>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmapscharts2 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmapscharts3 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmapscharts4 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmapscharts5 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmapscharts6 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmapscharts7 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmapscharts8 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %} 
										  {% for page in page.relatedmapscharts9 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmapscharts10 %}
												<br>
										      <a href="http://neptunesneedle.org/mapscharts/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										  {% endif %}
										  
										  
										{% if page.relatedmarinelife == null %}
										  <p></p>
										{% else %}
										  {% for page in page.relatedmarinelife %}
											  <h2>Related marinelife</h2>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmarinelife2 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmarinelife3 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmarinelife4 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  {% for page in page.relatedmarinelife5 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmarinelife6 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmarinelife7 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmarinelife8 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %} 
										  {% for page in page.relatedmarinelife9 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										   {% for page in page.relatedmarinelife10 %}
												<br>
										      <a href="http://neptunesneedle.org/marinelife/{{ page | remove: ' ' | strip_newlines | downcase | md5 }}/">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										  {% endif %}
											
										  
										  
										
										
										
										
										
										
										
										
										
										{% if page.additionalsources == null %}
										  <p></p>
										{% else %}
										  {% for page in page.additionalsources %}
											  <h2>External Additional Sources</h2>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.additionalsources2 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.additionalsources3 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.additionalsources4 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										  {% for page in page.additionalsources5 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										   {% for page in page.additionalsources6 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										   {% for page in page.additionalsources7 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										   {% for page in page.additionalsources8 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %} 
										  {% for page in page.additionalsources9 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										   {% for page in page.additionalsources10 %}
												<br>
										      <a href="{{page}}">{{page}}</a>
										  {% endfor %}
										  <br>
										  <br>
										  {% endif %}
										
										
										<h2>Compiler</h2>
										<p>{{page.yourname}}</p>

									</article>
										
									<div class="wrapper">
										<a href="/search/marinelife/" class="button">Back to Marine Life Search</a>
									</div>

								</div>
						</div>
					</div>
					
			</div>
			


  {% include footer.html %}

		</div>
			
  {% include scripts.html %}
			
    </body>
	
</html>
