<!DOCTYPE html>
<html>

  {% include head.html %}
 
	<body class="left-sidebar">
		<div id="page-wrapper">
 
  {% include header.html %}
			
			<div id="main">
					<div class="container">

						<div class="row 200%">

							<!-- Content -->
								<div id="content" class="12u 12u(mobile) important(mobile)">
									<article>
										<header>
											<h2>{{page.title}}</h2>
										</header>
										
										<h2>Country</h2>
										<p>{{page.country}}</p>
										
										<h2>Born</h2>
										<p>{{page.birthyear}}</p>
										<h2>Died</h2>
										<p>{{page.deathyear}}</p>
										
										<h2>Entry</h2>
										<p>{{page.p1}}</p>
										<p>{{page.p2}}</p>
										<p>{{page.p3}}</p>
										<p>{{page.p4}}</p>
										<p>{{page.p5}}</p>
										<p>{{page.p6}}</p>
										<p>{{page.p7}}</p>
										<p>{{page.p8}}</p>
										<p>{{page.p9}}</p>
										<p>{{page.p10}}</p>
										<p>{{page.p11}}</p>
										<p>{{page.p12}}</p>
										<p>{{page.p13}}</p>
										<p>{{page.p14}}</p>
										<p>{{page.p15}}</p>
										<p>{{page.p16}}</p>
										<p>{{page.p17}}</p>
										<p>{{page.p18}}</p>
										<p>{{page.p19}}</p>
										<p>{{page.p20}}</p>
										<p>{{page.p21}}</p>
										<p>{{page.p22}}</p>
										<p>{{page.p23}}</p>
										<p>{{page.p24}}</p>
										<p>{{page.p25}}</p>
										<p>{{page.p26}}</p>
										<p>{{page.p27}}</p>
										<p>{{page.p28}}</p>
										<p>{{page.p29}}</p>
										<p>{{page.p30}}</p>
										
										<h2>Compiler</h2>
										<p>{{page.yourname}}</p>

									</article>
																										
									<section>
										<a href="/search.html" class="button">Back to Search</a>
									</section>

								</div>
						</div>
					</div>
					
			</div>
			


  {% include footer.html %}

		</div>
			
  {% include scripts.html %}
			
    </body>
	
</html>
